

<h1>Pirates</h1>


  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
<br>


<h1>Ships</h1>
<% @ships.each.with_index(1) do |ship,ind| %>
    <p>Ship No. <%=ind%></p>
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  <br>
<% end %>

